form  to supabase.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Partage de ressources formateur",
        "formDescription": "Envoyez facilement aux apprenants des supports, fichiers et informations utiles pour votre intervention.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prénom",
              "requiredField": true
            },
            {
              "fieldLabel": "Nom",
              "requiredField": true
            },
            {
              "fieldLabel": "Session",
              "defaultValue": "={{ $query.Session }}",
              "requiredField": true
            },
            {
              "fieldLabel": "Date",
              "defaultValue": "={{ $query.Date }}",
              "requiredField": true
            },
            {
              "fieldLabel": "Message pour les apprenants"
            },
            {
              "fieldLabel": "Votre profil LinkedIn"
            },
            {
              "fieldLabel": "Fichiers (optionnel)",
              "fieldType": "file"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "cec6eae0-9861-4b8b-b794-9b046245aded",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1168,
        -48
      ],
      "webhookId": "dc146c60-e441-44af-9d7e-639c62801b20"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Form Trigger').item.json['Fichiers (optionnel)'] }}",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5f810653-a137-473d-a58e-625f08072364",
      "name": "Check if File Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -944,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pjiobifgcvdapikurlbn.supabase.co/rest/v1/ressources_intervenants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqaW9iaWZnY3ZkYXBpa3VybGJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTEwMjQ4MSwiZXhwIjoyMDgwNjc4NDgxfQ.TDVP4swScKmcyyrn9e3iXMRjEEiwQsSooGqpX70imEA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqaW9iaWZnY3ZkYXBpa3VybGJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTEwMjQ4MSwiZXhwIjoyMDgwNjc4NDgxfQ.TDVP4swScKmcyyrn9e3iXMRjEEiwQsSooGqpX70imEA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prenom",
              "value": "={{ $('Form Trigger').item.json['Prénom'] }}"
            },
            {
              "name": "nom",
              "value": "={{ $('Form Trigger').item.json['Nom'] }}"
            },
            {
              "name": "infos_apprenants",
              "value": "={{ $('Form Trigger').item.json['Message pour les apprenants'] }}"
            },
            {
              "name": "linkedin",
              "value": "={{ $('Form Trigger').item.json['Votre profil LinkedIn'] }}"
            },
            {
              "name": "session_date",
              "value": "={{ $('Form Trigger').item.json['Date'] }}"
            },
            {
              "name": "fichiers",
              "value": "={{ [$json.Key || $json.path || 'file_uploaded'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4cebd6bb-1a27-4f23-838b-cefa1db14cb5",
      "name": "Insert with File (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pjiobifgcvdapikurlbn.supabase.co/rest/v1/ressources_intervenants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqaW9iaWZnY3ZkYXBpa3VybGJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTEwMjQ4MSwiZXhwIjoyMDgwNjc4NDgxfQ.TDVP4swScKmcyyrn9e3iXMRjEEiwQsSooGqpX70imEA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqaW9iaWZnY3ZkYXBpa3VybGJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTEwMjQ4MSwiZXhwIjoyMDgwNjc4NDgxfQ.TDVP4swScKmcyyrn9e3iXMRjEEiwQsSooGqpX70imEA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prenom",
              "value": "={{ $('Form Trigger').item.json['Prénom'] }}"
            },
            {
              "name": "nom",
              "value": "={{ $('Form Trigger').item.json['Nom'] }}"
            },
            {
              "name": "sujet_intervention",
              "value": "={{ $('Form Trigger').item.json['Sujet de votre intervention : '] }}"
            },
            {
              "name": "infos_apprenants",
              "value": "={{ $('Form Trigger').item.json['Message pour les apprenants'] }}"
            },
            {
              "name": "linkedin",
              "value": "={{ $('Form Trigger').item.json['Votre profil LinkedIn'] }}"
            },
            {
              "name": "session_date",
              "value": "={{ $('Form Trigger').item.json['Date'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2305d64-b486-4375-bc40-b9c329d0eb69",
      "name": "Insert without File (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pjiobifgcvdapikurlbn.supabase.co/storage/v1/object/ressources-intervenants/{{ $binary.Fichiers__optionnel_.fileName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqaW9iaWZnY3ZkYXBpa3VybGJuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTEwMjQ4MSwiZXhwIjoyMDgwNjc4NDgxfQ.TDVP4swScKmcyyrn9e3iXMRjEEiwQsSooGqpX70imEA"
            },
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.Fichiers__optionnel_.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "Fichiers__optionnel_",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        -144
      ],
      "id": "bf42448c-6539-43ce-97b3-3da3470ec1c2",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Check if File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if File Exists": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert without File (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Insert with File (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "9cb4ac6e6eaad1a7f01eac7a5711885fdbbf1c11ab1c44dd1c94cd5f6f69cdea"
  }
}