n8n_supabase_upload_workflow.json
{
  "name": "Supabase Upload (Final - ID Project included)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Envoi de Fichier vers Supabase",
        "formDescription": "Remplissez le nom et sélectionnez le fichier à envoyer.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nom du fichier",
              "requiredField": true,
              "fieldId": "filename"
            },
            {
              "fieldLabel": "Fichier",
              "fieldType": "file",
              "requiredField": true,
              "fieldId": "file_input"
            }
          ]
        },
        "options": {
          "responseMode": "lastNode",
          "submitButtonLabel": "Envoyer"
        }
      },
      "id": "trigger-form",
      "name": "Formulaire Upload",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const binaryKeys = item.binary ? Object.keys(item.binary) : [];\n  let binaryData = null;\n\n  if (item.binary && item.binary.file_input) {\n    binaryData = item.binary.file_input;\n  } else if (binaryKeys.length > 0) {\n    binaryData = item.binary[binaryKeys[0]];\n  }\n\n  if (!binaryData) {\n     throw new Error(\"Aucun fichier reçu.\");\n  }\n\n  // Nettoyage du nom de fichier\n  let rawName = item.json.filename || binaryData.fileName || 'unknown_file';\n  let cleanName = rawName.replace(/\\s+/g, '_').replace(/[^a-zA-Z0-9_.-]/g, '');\n\n  return {\n    json: {\n      bucket_name: 'ressources-intervenants',\n      original_filename: cleanName\n    },\n    binary: {\n      file_input: binaryData\n    }\n  };\n});"
      },
      "id": "prepare-data",
      "name": "Prepare Upload Data (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pjiobifgcvdapikurlbn.supabase.co/storage/v1/object/{{ $json.bucket_name }}/{{ $json.original_filename }}",
        "authentication": "none",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "file_input",
        "headerParameters": {
            "parameters": [
                {
                    "name": "Authorization",
                    "value": "Bearer VOTRE_CLE_SERVICE_ROLE_ICI"
                },
                {
                    "name": "Content-Type",
                    "value": "={{ $binary.file_input.mime }}"
                }
            ]
        },
        "options": {}
      },
      "id": "upload-supabase",
      "name": "Upload to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  if (item.json.error || (item.json.statusCode && item.json.statusCode >= 400)) {\n    const rawError = item.json.message || item.json.error || 'Erreur inconnue';\n    const errorString = typeof rawError === 'object' ? JSON.stringify(rawError) : String(rawError);\n\n    if (errorString.includes('property \\'authorization\\'')) {\n        throw new Error(`ERREUR CONFIG: Vous avez oublié de coller la clé SERVICE_ROLE dans le Header 'Authorization' du noeud HTTP.`);\n    }\n\n    if (errorString.includes('Unauthorized') || item.json.statusCode === 403) {\n        throw new Error(`ERREUR 403: Clé API incorrecte ou droits insuffisants.`);\n    }\n    throw new Error(`Erreur Supabase: ${errorString}`);\n  }\n  \n  return {\n    json: {\n        upload_success: true,\n        bucket_name: $('Prepare Upload Data (Code)').item.json.bucket_name,\n        original_filename: $('Prepare Upload Data (Code)').item.json.original_filename\n    }\n  };\n});"
      },
      "id": "sanitize-upload",
      "name": "Check Errors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pjiobifgcvdapikurlbn.supabase.co/storage/v1/object/sign/{{ $json.bucket_name }}/{{ $json.original_filename }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n\t\"expiresIn\": 2592000\n}",
        "headerParameters": {
            "parameters": [
                {
                    "name": "Authorization",
                    "value": "Bearer VOTRE_CLE_SERVICE_ROLE_ICI"
                },
                 {
                    "name": "Content-Type",
                    "value": "application/json"
                }
            ]
        },
        "options": {}
      },
      "id": "sign-url",
      "name": "Get Download URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "success",
              "type": "boolean",
              "value": true
            },
            {
              "name": "download_url",
              "type": "string",
              "value": "=https://pjiobifgcvdapikurlbn.supabase.co/storage/v1{{ $json.signedURL }}"
            },
            {
              "name": "message",
              "type": "string",
              "value": "Fichier uploadé avec succès !"
            }
          ]
        },
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        460
      ]
    }
  ],
  "connections": {
    "Formulaire Upload": {
      "main": [
        [
          {
            "node": "Prepare Upload Data (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload Data (Code)": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Check Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Errors": {
      "main": [
        [
          {
            "node": "Get Download URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Download URL": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}